<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tyan_lamp</title>
    <style>
        .tyan{
            width: 50%;
            height: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .arbuznitsa{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }   
h1{
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 315px;
    color: #808080;
}
body {
    background-color: #fffdd0;
}
    </style>
</head>
<body>
    <div class="arbuznitsa">
         <img class="tyan" src="C:\Archive\0008760.jpg">
<h1>Victoria</h1> 
<p></p>  
    </div>
</body>
</html>