{% extends "mainApp/wrapper.html" %}

{% block title %}Аниме{% endblock %}

{% block   content %}
    
    <div class="container mt-5">
        <div class="row">
          <div class="col-4 offset-1">
              <h2>Поиск аниме</h2>
             <form action="/anime/" method="POST">
              {% csrf_token %}
              <label for="anime">Аниме</label>
              {{ form.name }}               
              <input type="submit" name="send" value="Узнать" class="mt-2 btn-info rounded">
             </form>
          </div>
          <div class="col-4 offset-1">
           <h2></h2>

          
          {% for i in all_info %}
              <div class="alert alert-info">
               <div class="row">
                  <div class="col-100 rounded"> 
                      <b>Title: </b>{{ i.title }}
                      <b>   Score: </b>{{ i.score }} <br>
                      <b>Episodes: </b>{{ i.episodes }} <br>
                      <img src="{{ i.image }}" alt="Фото Аниме" class="img-fluid rounded">
                      <p>{{ i.synopsis }}<p>

                    </div>

               </div>
              </div>
          {% endfor %}

        </div>
    </div>
{% endblock %}