<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/wrapper.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h4 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" href="/"><img class="topico" src="{% static 'favicon.ico' %}">Пилотный проект</a> </h4>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/">Главная страница</a>
          <a class="p-2 text-dark" href="/news">Новости</a>
          <a class="p-2 text-dark" href="/weather">Погода</a>
          <a class="p-2 text-dark" href="/anime">Аниме</a>
          <a class="p-2 text-dark" href="/qubeplot">Фунуции</a>
          <a class="p-2 text-dark" href="/randomizer">Рандомайзер слов</a>
        </nav>
        
        
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a class="btn btn-outline-primary" href="/admin">Админка</a>
            {% else %}
            {% endif %}
            <a class="btn btn-outline-primary" href="{% url 'logout' %}">Log out</a>
        {% else %}
            <a class="btn btn-outline-primary" href="{% url 'register' %}">Registration</a>
            <a class="btn btn-outline-primary" href="{% url 'login' %}">Log in</a>
        {% endif %}
      </div>
    <div class="jumbotron">
        <div clas="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
    <div class="container">
        <hr>
            &copy; Все права защищены 2020
        </hr>
        <p>Сайт был создан при помощи библиотеки django </p>
    </div>
    
</body>
</html>