<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Приветствую Вас{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/wrapper.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h4 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" href="/"><img class="topico" src="{% static 'favicon.ico' %}">Пилотный проект</a> </h4>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/">Главная страница</a>
          <a class="p-2 text-dark" href="/news">Новости&raquo;</a>
          <a class="p-2 text-dark" href="/weather">Погода&raquo;</a>
          <a class="p-2 text-dark" href="/feedback">Обратная связь&raquo;</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">кнопка</a>
      </div>
    <div class="jumbotron">
        <div clas="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
    <div class="container">
        <hr>
            &copy; Все права защищены 2020
        </hr>
        <p>Сайт был создан при помощи библиотеки django </p>
    </div>
    
</body>
</html>