<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приветствую Вас</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>

    <div class="jumbotron">
        <div clas="container">
            {% include "mainApp/includes/some_html.html" %}
            {% block content %}
            {% endblock %}
            <p>
                <a href="/" class="btn btn-success btn-lg"> Главная страница</a>
                <a href="/news" class="btn btn-primary btn-lg">Новости&raquo;</a>
                <a href="/weather" class="btn btn-primary btn-lg">Погода&raquo;</a>
                <a href="/contact" class="btn btn-info btn-lg">Контакты&raquo;</a>
            </p>
        </div>
    </div>
    <img src="{% static 'mainApp/img/cats.png' %}" class="img-thumbnail">
    <div class="container">
        <hr>
        &copy; Все права защищены 2020
        </hr>
    </div>
</body>
</html>