<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <title>Tyan_lamp</title>
    <style>
        .tyan{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .arbuznitsa{
            display: block;
            margin-left: 315px;
            margin-right: 315px;
        }   
h1{
    font-family: sans-serif;
    font-weight: bold;
    color: #808080;
}
body {
    background-color: #fffdd0;
}
p {
    font-family: sans-serif;
    font-weight: lighter;
}
    </style>
</head>
<body>
    <div class="arbuznitsa">
         <img class="tyan" src="C:\Archive\0008760.jpg">
<h1>Victoria</h1> 
<p>Эмильчик я люблю тебя. Если ты видишь эту анекту, пожалуйста, напиши мне. Я очень хочу вместе с тобой покушать арбуз. Представь как мы начинаем есть один и тот же кусочек с двух сторон и встречаемся в середине.</p>  
    </div>
</body>
</html>